:root {
	font-family: 'Roboto', sans-serif;
}
body{
	width: auto;
	margin-left: 20px;
	margin-right: 20px;
	display: inline-block;
}
.noticias {
	text-align: center;
	order: 1;
}
.articulo{
	order: 2;
}
img{
	min-width: 100%;
}
.caja {
	order: 3;
	max-width: auto;
}
.texto{
	order: 4;
	max-width: auto;
	margin-bottom: 40px;
}
@media (min-width: 640px) {
body{
	display: grid;
	grid-template-columns: 10% 60% 20%;
	grid-template-rows: auto auto ;
}
.noticias{
	grid-column: 2/3;
	grid-row: 1/2;
}
.cajas{
	grid-column: 2/3;
	grid-row: 2/3;	
}
.texto{
	display: flex;
	flex-direction: column;
	margin-left: 20px;	
	
}
h5{
	margin-top: 0;
	margin-bottom:0.2rem ;
	
}
.articulos{
	display: flex;
flex-grow:1 ;
margin-bottom: 20px;

}
img{
	float: left;
	min-width: 300px;
	margin-bottom: 40px;
}
button{
	margin-top: 20px;
	color: azure;
	background: #cccccc;
	border: 0;
	text-align: center;
	width: 150px;
	height: 30px;
}
}

